<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block headerTitle %}Welcome on the Forum!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="{{ path('captcha_layout_stylesheet_url') }}" rel="stylesheet" />
        {% stylesheets 
            'bundles/app/css/style.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />

        {% endstylesheets %}
    {% endblock %}
    </head>

    <body>

        {% block menu %}
            <div class="ibox-footer mb-3 p-0 w-100" style="height: 50px;">
                <div class="float-left">
                    <p class="text-white" id="onlineUser" style=" margin: 1rem;">
                        
                    </p>
                </div>
                {% if false == app.user %}
                <div class="btn-group float-right">
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary btnNav">Inscription</a>
                </div>
                <div class="btn-group float-right">
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary btnNav">Connexion</a>
                </div>
                {% endif %}
                {% if app.user %}
                <div class="btn-group float-right">
                    {% if is_granted('ROLE_MODO') %}
                    <a href="{{ path('app_list_user') }}">
                        <button type="button" class="btn btn-secondary" style="height: 49px; width:200px; border-radius: 0; font-size: 0.9rem;">
                            <p class="pt-1"><i class="fa fa-group text-white pr-3" style="font-size:20px;"></i>Liste des membres</p>
                        </button>
                    </a>
                    {% endif %}
                    <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 49px; width:100px; border-radius: 0;">
                        <p class="m-0"><i class="fa fa-user text-white" style="font-size:20px;"></i></p>
                    </button>
                  
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{{ path('app_profil', {'id': app.user.id}) }}"><button class="dropdown-item" type="button">Profil</button></a>
                        <a href="{{ path('fos_user_security_logout') }}"><button class="dropdown-item" type="button">Déconnexion</button></a>
                    </div>
                </div>
                {% endif %}
            </div>
        {% endblock %}

        <div class="container bot-align">
        <div class="row">
            
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">

                    {% block flashbag %}
                    {% endblock %}

                    <div class="ibox-content m-b-sm border-bottom">
                        <div class="p-xs">
                            {% block title %}
                            <div class="pull-left m-r-md mr-5">
                                <a href="{{ path('app_home') }}"><i class="fa fa-globe text-navy mid-icon"></i></a>
                            </div>
                            <h2> Bienvenue sur notre forum {% if app.user %} {{ app.user.username }} {% endif %}! </h2>
                            <span> Choisissez le topic de votre choix.</span>
                            {% endblock %}
                        </div>
                    </div>

                    
                    {% block subtitle %}
                    {% endblock %}
                    
                    {% block breadcrum %}
                    {% endblock %}

                    {% block paginator %}
                    <div class="ibox-content mb-1 mt-1 p-0">
                        {% include "AppBundle:Forum:paginator.html.twig" %}
                    </div>
                    {% endblock %}

                    {% block tabs %}
                    {% endblock %}

                    {% block content %}
                    {% endblock %}

                    {% block paginatorBot %}
                    <div class="ibox-content mb-1 mt-1 p-0">
                        {% include "AppBundle:Forum:paginator.html.twig" %}
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="push"></div>
        </div>

        <div class="ibox-footer mt-3 footer">
            <h6 class="text-center m-0">2017/2018 - Projet Forum licence pro - Jérémy Leprince</h6>
        </div>

        {% block javascripts %}

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        <script>
        function refresh() {
            $.ajax({
                url: "{{ path('app_online_user') }}",
                complete: 
                    function(retour) {
                        $('#onlineUser').html(retour.responseText);
                        setTimeout(refresh, 10000);
                    }
            });
        }
        setTimeout(refresh, 0);
        </script>

        {% endblock %}



</body>

</html>