{% extends "AppBundle::layout.html.twig" %}

{% block flashbag %}
	{% for message in app.session.flashbag.get('notice') %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        	<span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
{% endblock %}

{% block title %}
<div class="pull-left m-r-md mr-5">
    <a href="{{ path('app_home') }}"><i class="fa fa-shield text-navy mid-icon"></i></a>
</div>
<h2> {{ theme.titre }}</h2>
<small class="forum-desc"> {{ infosDisc[0]['nb_discussion'] }} posts - {{ infosDisc[0]['COUNT(distinct d.auteur_id)'] }} participents</small>
{% endblock %}

{% block breadcrum %}
<div class="ibox-content mb-1 mt-1 p-10">
	<p class="crumbread m-0"><a href="{{ path('app_home', {'page': 1}) }}">Home</a> > <a href="{{ path(app.request.get('_route'), {'page': 1, 'theme': theme.titre}) }}"> {{ theme.titre }}</a><a class="text-white addPost float-right btn btn-primary" href="#post">Ajouter un post</a></p>
	
</div>
{% endblock %}


{% block content %}
{% for discussion in discussions %}
<div class="ibox-content forum-container mb-2">
<div class="col-12">
	<div class="row pb-3" style="border-bottom: 0.0625rem dotted #C6C6D0;">
		<div class="col-1 pl-0">
			<img src="{{  asset('bundles/app/images/defaut.png') }}" class="avatar-disc">
		</div>
		<div class="col-8">
			<div class="row">
				<h5><a href="{{ path('app_profil', {'id': discussion.auteur.id}) }}">{{ discussion.auteur.pseudo }}</a></h5>
			</div>
			<div class="row">
				<small class="forum-desc">{{ discussion.date|date() }}</small>
			</div>
		</div>
		<div class="col-3 text-right">
			<a href="{{ path('app_edit_discussion', {'id': discussion.id, 'theme': theme.titre}) }}" class="btn btn-primary smallBtn a-btn-slide-text">
				<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
		        <span><strong>Edit</strong></span>            
    		</a>
			<a href="{{ path('app_remove_discussion', {'id': discussion.id, 'theme': theme.titre}) }}" class="btn btn-danger smallBtn a-btn-slide-text">
		        <i class="fa fa-times" aria-hidden="true"></i>
        		<span><strong>Supprimer</strong></span>               
    		</a>
		</div>
	</div>
	<div class="row pt-3">
		<div class="col-12">
			<h6>{{ discussion.contenu }}</h6>
		</div>
	</div>
</div>
</div>
{% endfor %}
<div class="ibox-content p-2" id="post">
	{% include "AppBundle:Forum:Form/addDiscussionForm.html.twig" %}
</div>
{% endblock %}