{% extends "AppBundle::layout.html.twig" %}

{% block title %}
<div class="pull-left m-r-md mr-5">
    <a href="{{ path('app_home') }}"><i class="fa fa-shield text-navy mid-icon"></i></a>
</div>
<h2> {{ theme }}</h2>
<small class="forum-desc"> {{ infosDisc[0]['nb_discussion'] }} posts - {{ infosDisc[0]['COUNT(distinct d.auteur_id)'] }} participents</small>
{% endblock %}

{% block breadcrum %}
<div class="ibox-content mb-1 mt-1 p-10">
	<p class="crumbread m-0"><a href="{{ path('app_home', {'page': 1}) }}">Home</a> > <a href="{{ path(app.request.get('_route'), {'page': 1, 'theme': theme}) }}"> {{ theme }}</a></p>
</div>
{% endblock %}


{% block content %}
{% for discussion in discussions %}
<div class="ibox-content forum-container mb-2">
<div class="col-12">
	<div class="row pb-3" style="border-bottom: 0.0625rem dotted #C6C6D0;">
		<div class="col-1 pl-0">
			<img src="{{  asset('bundles/app/images/defaut.png') }}" class="avatar-disc">
		</div>
		<div class="col-11">
			<div class="row">
				<h5><a href="{{ path('app_profil', {'id': discussion.auteur.id}) }}">{{ discussion.auteur.pseudo }}</a></h5>
			</div>
			<div class="row">
				<small class="forum-desc">{{ discussion.date|date() }}</small>
			</div>
		</div>
	</div>
	<div class="row pt-3">
		<div class="col-12">
			<h6>{{ discussion.contenu }}</h6>
		</div>
	</div>
</div>
</div>
{% endfor %}
{% endblock %}