{% extends "AppBundle::layout.html.twig" %}

{% block flashbag %}
	{% for message in app.session.flashbag.get('notice') %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        	<span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
{% endblock %}

{% block title %}
<div class="pull-left m-r-md mr-5">
    <a href="{{ path('app_list_user') }}"><i class="fa fa-group text-navy mid-icon"></i></a>
</div>
<h2> Modifier le profil {{ user.prenom }} {{ user.nom }}</h2>
<small class="forum-desc">Vous êtes sur le point de modifier le profil de {{ user.username }}</small>
{% endblock %}

{% block breadcrum %}
<div class="ibox-content mb-1 mt-1 p-10">
	<p class="crumbread m-0"><a href="{{ path('app_home', {'page': 1}) }}">Home</a> > <a href="{{ path('app_list_user') }}"> Liste membre </a> ><a href="{{ path(app.request.get('_route'), {'id': user.id}) }}"> {{ user.id }}</a></p>
</div>
{% endblock %}

{% block paginator %}
{% endblock %}

{% block content %}
<div class="ibox-content forum-container">
{{ form_start(formEditUser, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(formEditUser) }}
	<div class="form-group col-lg-12 m-0">
		{{ form_label(formEditUser.username, "Indentifiant", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
		{{ form_errors(formEditUser.username) }}
		<div class="col-sm-12">
		  	{{ form_widget(formEditUser.username, {'attr': {'class': 'form-control'}}) }}
		</div>
		{{ form_label(formEditUser.email, "Email", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
		{{ form_errors(formEditUser.email) }}
		<div class="col-sm-12">
		  	{{ form_widget(formEditUser.email, {'attr': {'class': 'form-control'}}) }}
		</div>
		{{ form_label(formEditUser.nom, "Nom", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
		{{ form_errors(formEditUser.nom) }}
		<div class="col-sm-12">
		  	{{ form_widget(formEditUser.nom, {'attr': {'class': 'form-control'}}) }}
		</div>
		{{ form_label(formEditUser.prenom, "Prénom", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
		{{ form_errors(formEditUser.prenom) }}
		<div class="col-sm-12">
		  	{{ form_widget(formEditUser.prenom, {'attr': {'class': 'form-control'}}) }}
		</div>
		{{ form_label(formEditUser.avatar, "Avatar", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
		{{ form_errors(formEditUser.avatar) }}
		<div class="col-sm-12">
		  	{{ form_widget(formEditUser.avatar, {'attr': {'class': 'form-control'}}) }}
		</div>
		{% if is_granted('ROLE_ADMIN') %}
		{{ form_label(formEditUser.roles, "Roles", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
		{{ form_errors(formEditUser.roles) }}
		<div class="col-sm-12">
		  	{{ form_widget(formEditUser.roles, {'attr': {'class': 'form-control'}}) }}
		</div>
		{% endif %}
		<div class="col-lg-12 p-2">
			{{ form_widget(formEditUser.submit) }}
			<a href="{{ path('app_list_user') }}" class="btn btn-secondary" role="button">Annuler</a>
		</div>
	</div>
	{{ form_rest(formEditUser) }}
{{ form_end(formEditUser) }}
</div>
{% endblock %}

{% block paginatorBot %}
{% endblock %}