{% extends "AppBundle::layout.html.twig" %}

{% block flashbag %}
	{% for message in app.session.flashbag.get('notice') %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        	<span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
{% endblock %}

{% block subtitle %}
<div class="ibox-content p-3">
    <div class="forum-title">
        <div class="pull-right forum-desc">
            <samll>Postes total: {{ nbDisc }}</samll>
        </div>
        <h3>Thèmes</h3>
    </div>
</div>
<button type="button" class="btn addbtn float-right mt-2 mr-2" data-toggle="modal" data-target="#addtheme"> + </button>
{% endblock %}



{% block content %}

<div class="ibox-content forum-container">
	{% for theme in themes %}
	<div class="forum-item active">
	    <div class="row">
	        <div class="col-lg-5 col-md-5 col-sm-5">
	            <div class="forum-icon">
	                <i class="fa fa-shield"></i>
	            </div>
	            <a href="{{ path('app_discussion', {'theme': theme.titre}) }}" class="forum-item-title">{{ theme.titre }}</a>
	            <div class="forum-sub-title">{{ theme.sousTitre }}</div>
	        </div>
	        <div class="col-lg-1 col-md-1 col-sm-1"></div>
	        {% for infos in infosThemes %}
	        {% if infos.theme_id == theme.id %}
	        {# for discussion in infos.discussion #}
	        <div class="col-lg-2 col-md-2 col-sm-2 forum-info">
	            <span class="views-number">
	            	{{ infos['username'] }}
	            </span>
	            <div>
	                <small>Dernière auteur</small>
	            </div>
	        </div>
	        <div class="col-lg-2 col-md-2 col-sm-2 forum-info">
	            <span class="views-number">
	                {{ infos['date']|date('d-m-Y') }}
	            </span>
	        	<div>
	            	<small>Dernier post</small>
	            </div>
	        </div>
			{% endif %}
			{% endfor %}
	        <div class="col-lg-2 col-md-2 col-sm-2 forum-info">
	            <span class="views-number">
	                {{ theme.nbDiscussion}}
	            </span>
	        	<div>
	            	<small>Discussions</small>
	        	</div>
	        </div>
	    </div>
	</div>
	{% endfor %}
</div>

<button type="button" class="btn addbtn float-right mt-2 mr-2" data-toggle="modal" data-target="#addtheme"> + </button>

{% include "AppBundle:Forum:Form/addThemeForm.html.twig" %}

{% endblock %}