{% extends "AppBundle::layout.html.twig" %}

{% block subtitle %}
<div class="ibox-content p-3">
    <div class="forum-title">
        <div class="pull-right forum-desc">
            <samll>Postes total: {{ nbDisc }}</samll>
        </div>
        <h3>Thèmes</h3>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="ibox-content forum-container">
	{% for theme in themes %}
	<div class="forum-item active">
	    <div class="row">
	        <div class="col-lg-5 col-md-5">
	            <div class="forum-icon">
	                <i class="fa fa-shield"></i>
	            </div>
	            <a href="{{ path('app_discussion', {'theme': theme.titre, 'page': 1}) }}" class="forum-item-title">{{ theme.titre }}</a>
	            <div class="forum-sub-title">{{ theme.sousTitre }}</div>
	        </div>
	        <div class="col-lg-1 col-md-1"></div>
	        {% for discussion in theme.discussion %}
	        <div class="col-lg-2 col-md-2 forum-info">
	            <span class="views-number">
	            	{{ discussion.auteur.pseudo}}	            	
	            </span>
	            <div>
	                <small>Dernière auteur</small>
	            </div>
	        </div>
	        <div class="col-lg-2 col-md-2 forum-info">
	            <span class="views-number">
	                {{ discussion.date|date('d-m-Y') }}
	            </span>
	        	<div>
	            	<small>Dernier post</small>
	            </div>
	        </div>
			{% endfor %}
	        <div class="col-lg-2 col-md-2 forum-info">
	            <span class="views-number">
	                {{ theme.nbDiscussion}}
	            </span>
	        	<div>
	            	<small>Discussions</small>
	        	</div>
	        </div>
	    </div>
	</div>
	{% endfor %}
</div>

{% endblock %}